.NewsList {
  padding: 0 5px;
  display: table;
  border-collapse: separate;
  border-spacing: 0px $space-unit/2;
  @include mq-sp {
    font-size: 12px;
  }
  &__items {
    display: table-row-group;
  }
  &__item {
    display: table-row;
  }
  &__head {
    width: 150px;
    display: table-cell;
    padding-right: $space-unit;
    @include mq-sp {
      width: 100px;
      padding-right: $sp-space-unit;
    }
  }
  &__body {
    display: table-cell;
  }
}
